@use '../scss/variable.scss';
@use '../scss/mixins.scss';
@use '../scss/palette.scss';

$common-margin-padding: 20px;
$section-container-max-width: 900px;
$skill-status-width: 300px;
$skill-status-color: grey;

@mixin common-container {
  @include mixins.box-shadow;
  max-width: $section-container-max-width;
  background-color: palette.$white;
}

.content-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  section {
    margin-top: $common-margin-padding;
    width: 100%;

    &:first-child {
      margin-top: 0;
    }
  }
}

.section-container {
  display: flex;
  justify-content: center;
  background-color: transparent;

}

.section-about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include common-container();

  ul {
    padding-left: 20px;
  }

  .section-about-me-content {
    padding: $common-margin-padding;
    max-width: 600px;
    box-sizing: border-box;

    div {
      border-top: variable.$common-border;
    }

    p {
      line-height: 1.3rem;
      padding-top: 8px;
    }

    margin-right: 100px;
  }

  .img-container {
    height: 300px;
    box-sizing: border-box;
  }
}

.section-skills {
  padding: $common-margin-padding;
  box-sizing: border-box;
  @include common-container();

  .section-skill-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: variable.$common-border;

    .section-skill-box {
      margin-top: $common-margin-padding;
      width: 400px;

      .skill-title {
        padding-bottom: 5px;
      }

      ul {
        line-height: 1.5rem;
        list-style: none;

        li {
          display: flex;
          justify-content: space-between;

          margin-top: 5px;
          span {
            margin-right: 10px;
          }

          .skill-bar {
            width: $skill-status-width;
            border: variable.$common-border;

            div {
              height: 100%;
            }
            .skill-status-25 {
              width: $skill-status-width * 1/4;
              background-color: $skill-status-color;
            }
            .skill-status-50 {
              width: $skill-status-width * 1/2;
              background-color: $skill-status-color;
            }
            .skill-status-75 {
              width: $skill-status-width * 2/3;
              background-color: $skill-status-color;
            }
            .skill-status-100 {
              width: $skill-status-width;
              background-color: $skill-status-color;
            }
          }
        }
      }

    }
  }
}

.section-career {
  padding: $common-margin-padding;
  @include common-container();

  ul {
    padding-left: 20px;
  }

  .career-container {
    display: flex;
    padding-top: $common-margin-padding;

    &:first-of-type {
      border-top: variable.$common-border;
    }

    .career-title {
      width: 250px;

      .job-duration {
        color:grey;
      }
    }

    .career-explained {
      line-height: 1.5rem;
      max-width: 650px;

      .semi-career-title {
        margin: 10px 0;
      }
    }
  }
}

.section-projects {
  padding: $common-margin-padding;
  @include common-container();

  ul {
    padding-left: 20px;
  }

  .projects-container {
    display: flex;
    align-items: center;
    justify-content: space-between;


    .project-box {
      padding: $common-margin-padding;
      border-top: variable.$common-border;

      div {
        margin-bottom: 10px;
      }

      .project-details {
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;

        .project-img {
          box-sizing: border-box;
          display: flex;
          align-items: center;
          position: relative;
          width: 500px;
          height: 250px;
          margin-right: 20px;
        }

        .project-skills-status-wrapper {
          max-width: 250px;
          line-height: 1.3rem;

          div {
            margin-bottom: 10px;
          }

          span {
            @include mixins.chip;
            display: inline-block;
          }
        }
      }
    }
  }
}
