@use "../scss/variable";

.project-shift-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .button-box {
    position: absolute;
    top: 5%;
    right: 0;

    button {
      background: transparent;
      cursor: pointer;
      margin-left: 1px;
      border: none;
    }

    .minus {
      transform: rotateY(180deg);
    }
  }
}

