@mixin chip {
  padding: 2px 10px;
  border-radius: 35px;
  background-color: black;
  color: white;
  margin: 1px;
}

@mixin box-shadow {
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

