// $color0: #287299;
// $color1: #009FF5;
// $color2: #F1FBFF;
// $color3: #EEE8A9;

$white: #ffffffd0;
$darkgrey: #252525;

$sakura0: #ffdbdb;
$sakura1: #ffd0d0;
$sakura2: #ffc0c0;
$sakura3: #ffb7b7;
$sakura4: #ff9d9d;

