@use './scss/variable.scss';
@use './scss/palette.scss';
@use './scss/mixins.scss';

header {
  background-color: palette.$white;
  @include mixins.box-shadow;

  nav {
    display: flex;
    align-items: center;
    padding: variable.$common-padding;
  }
}
