@use './variables.scss';
@use './palette.scss';
@use './mixins.scss';

header {
  background-color: palette.$color0;
  @include mixins.box-shadow;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
      
  }
}
