@use './variables.scss';

header {
  border-bottom: variables.$common-border;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;

    .header-container-left {
      display: flex;
      align-items: center;
      
      a {
        margin-right: 10px;
      }
    }

    .header-button {
      padding: 20px;
      border-right: variables.$common-border;
      border-left: variables.$common-border;
    }

    .search-bar {
      padding: 10px;
      
    }
  }
}
